@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    background: hsl(222, 26%, 31%);
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    min-width: 320px;
} 

.calculator-design {
    display: flex;
    justify-content: space-between;
    color: white;
    list-style: none;
    width: 25%;
    min-width: 320px;
    margin-bottom: 15px;
}

.calc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.control {
    justify-content: space-between;
    font-weight: 700;
    letter-spacing: 2px;
}

.draw {
    background-color: black;
    width: 50px;
    height: 3px;
    border-radius: 20px;
    padding-top: 10px;
}

.draw-2 {
    background-color: red;
    width: 9px;
    height: 7px;
    border-radius: 50%;
    position: relative;
    top: -8px;
    left: 2px;
}

.second {
    display: flex;
    justify-content: end;
    font-size: 32px;
    background-color: hsl(224, 36%, 15%);
    margin: 15px;
    padding: 20px;
    width: 25%;
    border-radius: 15px;
    min-width: 320px;
}

.second p {
    color: hsl(0, 0%, 90%);
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-width: 320px;
    font-size: 32px;
    background-color: hsl(224, 36%, 15%);
    margin-top: 15px;
    padding: 10px;
    border-radius: 15px;
    flex-direction: column;
}

.first-number-line, .second-number-line, .third-number-line, .fourth-number-line {
    display: flex;
    justify-content: center;
}

.first-digit, .second-digit, .third-digit, .fourth-digit {
    background-color: hsl(0, 0%, 90%);
    margin: 10px;
    padding: 17px 25px;
    border-radius: 7px;
    font-weight: bolder;
    border: none;
}

#num {
    margin: 10px;
    font-weight: bolder;
    border-radius: 7px;
    border: none;
    padding: 7px 15px;
    /* height: 75px; */
    width: 100%;
    font-size: 15px;
    color: hsl(0, 0%, 90%);
    background-color: hsl(224, 28%, 35%);
}

.fifth-number-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#another {
    background-color: hsl(6, 63%, 50%);
    color: hsl(0, 0%, 90%);
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

#number {
    background-color: hsl(224, 28%, 35%);
    color: hsl(0, 0%, 90%);
    padding: 20px;
    width: 100%;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
   
}

.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
}

span, .span {
    color: #fff;
}